@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

#content {
    display: grid;
    grid-template-areas: 
    "sidebar content"
    "sidebar content";
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;

    border: 1px solid lightskyblue;
}

#sidebar {
    grid-area: sidebar;
    border: 1px solid blue;
}

#workspace {
    grid-area: content;

    display: grid;
    place-items: center;
}

.add-to-do {
    border: 1px solid white;
    border-radius: 5px;

    background-color: #14FFEC;

    width: min(140px, 25%);
    height: 5%;

    font-family: 'Teko', 'sans-serif';
    font-size: 100%;
    color: white;
    font-weight: 600;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 20%;
    right: 35%;
    top: 25%;

    width: 60%;
    height: 50%;

    background-color: #323232;
}

form {
    height: 100%;

    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 30% 30% 30% 10%;
    grid-template-areas: 
    'title description'
    'Due-date priority'
    'project project'
    'submit submit';
}

.title {
    grid-area: title;
}

.descr {
    grid-area: description;
}

.due-date {
    grid-area: Due-date;
}

.priority {
    grid-area: priority;
}

.project {
    grid-area: project;
}

.form-element {
    color: white;
    font-family: 'Teko', 'Sans-serif';
    font-size: 150%;
    font-weight: 600;
}

input {
    border-radius: 5px;
    border: 0px solid white;
    outline: none;
    
    font-size: 65%;
    font-family: 'Teko', 'Sans-serif';
    font-weight: 500;
}

input:hover, input:focus {
    border: 1px solid #14FFEC;
}


