@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
}

#content {
    display: grid;
    grid-template-areas: 
    "sidebar content"
    "sidebar content";
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 15vh 85vh;

    border: 1px solid lightskyblue;
}

#sidebar {
    grid-area: sidebar;
    border: 1px solid blue;
    background-color: #323232;
    color: white;
    font-family: 'Teko', 'sans-serif';
    font-size: 140%;
}

#workspace {
    grid-area: content;

    display: grid;
    place-items: center;
}

.add-to-do {
    border: 1px solid white;
    border-radius: 5px;

    background-color: #14FFEC;

    width: min(140px, 25%);
    height: 5%;

    font-family: 'Teko', 'sans-serif';
    font-size: 100%;
    color: white;
    font-weight: 600;
}

button {
    font-family: 'Teko', 'sans-serif';
    font-size: 100%;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;

    background-color: #0D7377;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20%;
    right: 35%;
    top: 25%;

    width: 60%;
    height: 50%;

    background-color: #323232;
}

form {
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30% 10%;
    grid-template-areas: 
    'title description'
    'Due-date priority'
    'project project'
    'submit submit';

    justify-content: center;
}

.title {
    grid-area: title;
}

.descr {
    grid-area: description;
}

.due-date {
    grid-area: Due-date;
}

.priority {
    grid-area: priority;
}

.project {
    grid-area: project;
}

.submit {
    border: 0px solid white;
    border-radius: 5px;
    background-color: #14FFEC;

    font-family: 'Teko', 'sans-serif';
    font-size: 100%;
    color: white;
    font-weight: 600;

    grid-area: submit;

    width: 15%;
    height: 70%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.submit:hover {
    font-weight: 700;
    border: 1px solid white;
}

.form-element {
    color: white;
    font-family: 'Teko', 'Sans-serif';
    font-size: 150%;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 0px solid white;
    outline: none;
    
    font-size: 65%;
    font-family: 'Teko', 'Sans-serif';
    font-weight: 500;

    width: 30%;
}

input:hover, input:focus {
    border: 1px solid #14FFEC;
}

.sub-menu {
    display: none;
}

.showMenu .sub-menu {
    display: block;
}

.project-sidebar {
    padding-left: 15%;
}

 ul {
    margin: 0px;
    padding: 0;
 }

 li {
    list-style-type: none;
 }

 .to-do-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D7377;
    color: white;
    font-family: 'Teko', 'sans-serif';
    border-radius: 5%;
    font-size: 105%;
    gap: 10px;
    margin: 10px;
 }
 .to-do-card span:nth-child(1) {
    font-size: 150%;
 }

 .to-do-card span:nth-child(3), .to-do-card span:nth-child(4) {
    display: none;
 }

 .project-to-dos {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 6%;
 }

 .settings {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .red-btn {
    background-color: rgb(187, 51, 51);
    font-size: 135%;
    width: max(150px, 15%);
    height: 38%;
 }